.button {
	position: fixed;
	bottom: 20px;
	background-color: rgba(0, 153, 255, 1);
	border: 0;
	outline: 0;
	color: #fff;
	border-radius: 24px;
	height: 50px;
	width: 80%;
	max-width: 300px;
	cursor: pointer;
	text-align: center;
}

@media (orientation: landscape) {
	.button {
		bottom: unset;
		top: 10px;
		right: 10px;
		width: 200px;
		max-width: 200px;
	}
}
