/* src/modal/index.module.css */
.modal_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* src/instruction/index.module.css */
.instruction_instructionWrapper {
  margin-top: 24px;
  padding: 0 24px;
  text-align: center;
}
.instruction_instruction {
  position: relative;
  background: white;
  border: 1px solid rgba(0, 153, 255, 1);
  color: rgba(0, 153, 255, 1);
  border-radius: 4px;
  padding: 12px;
}
.instruction_instruction:after,
.instruction_instruction:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.instruction_instruction:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}
.instruction_instruction:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(0, 153, 255, 1);
  border-width: 9px;
  margin-left: -9px;
}

/* src/overlay/index.module.css */
.overlay_overlayWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.overlay_overlay {
  margin-top: 100px;
  width: 90%;
  max-width: 500px;
}

/* src/video/index.module.css */
.video_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* src/container/index.module.css */
.container_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* src/button/index.module.css */
.button_button {
  position: absolute;
  bottom: 100px;
  background-color: rgba(0, 153, 255, 1);
  border: 0;
  outline: 0;
  color: #fff;
  border-radius: 24px;
  height: 50px;
  width: 80%;
  max-width: 300px;
  cursor: pointer;
}
.button_buttonInner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_spinner {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: button_rotation 1s linear infinite;
}
@keyframes button_rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
