.overlayWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vw * 4 / 3);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: radial-gradient(
		circle at center,
		transparent min(248px, 44vw),
		rgba(0, 0, 0, 0.9) min(248px, 44vw)
	);
	z-index: 1;
}

.imageWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.overlay {
	width: 90vw;
	max-width: 500px;
}

@media (orientation: landscape) {
	.overlayWrapper {
		background: radial-gradient(
			circle at center,
			transparent min(248px, 41vh),
			rgba(0, 0, 0, 0.9) min(248px, 41vh)
		);
		height: 100%;
	}
	.imageWrapper {
		position: absolute;
		height: 100%;
		margin-top: unset;
		justify-content: center;
		flex-direction: row;
	}
	.overlay {
		width: unset;
		height: 84vh;
	}
}
