.headlineWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 45px;
}

.headlineWrapper > span {
	font-size: 32px;
	font-weight: 700;
}

.instructionsBody {
	padding: 0 16px;
	box-sizing: border-box;
}

.instructionsWrapper {
	margin-bottom: 12px;
}

.instructionsWrapper > p {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	word-spacing: 0.3px;
	letter-spacing: 0.3px;
}

.demoImageWrapper {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	overflow: hidden;
}

.demoImageWrapper > img {
	/* hide extended overlay in the actual image */
	width: 101%;
}

@media (orientation: landscape) {
	.headlineWrapper {
		height: 75px;
		justify-content: unset;
		margin-left: 50px;
	}
	.instructionsBody {
		display: flex;
		margin-top: 16px;
	}
	.instructionsWrapper {
		flex: 1;
		margin-right: 16px;
	}
	.instructionsWrapper > p {
		margin: 0;
	}
}
