.button {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: transparent;
	border: 0;
	outline: 0;
	width: 75px;
	height: 75px;
	cursor: pointer;
	display: flex;
	align-items: center;
	vertical-align: middle;
	padding: 0;
	box-sizing: border-box;
	z-index: 2;
	color: #707070;
	font-size: 16px;
}
.buttonInner {
	padding-left: 16px;
}

/* Custom for close sdk button on onboarding instructions screen */
.buttonPosition {
	position: relative;
	height: 45px;
	right: 0;
	left: unset;
	justify-content: flex-end;
	font-size: 24px;
	margin-left: auto;
}
.buttonInnerPosition {
	padding-left: unset;
	padding-right: 16px;
	color: #bbb;
}

@media (orientation: landscape) {
	.buttonPosition {
		height: 75px;
		position: absolute;
		right: unset;
		justify-content: unset;
	}
	.buttonInnerPosition {
		padding-left: 16px;
		padding-right: unset;
	}
}
