.video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vw * 4 / 3);
	object-fit: contain;
}

@media (orientation: landscape) {
	.video {
		position: relative;
		top: unset;
		left: unset;
		height: 100%;
		width: calc(100vh * 4 / 3);
	}
}
