.video {
  visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: contain;
}

.video::-webkit-media-controls {
  display: none !important;
}

@media (orientation: landscape) {
	.video {
		height: 100%;
		width: unset;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
